<button #btn>on interaction</button>

@defer (on interaction(btn)){
{{ loadData() }}
<div>
  <div *ngFor="let d of data()">
    <img [src]="d.thumbnailUrl" width="150">
    <p>{{ d.title }}</p>
  </div>
</div>
}
@placeholder {
<p>
  loading
</p>
}

<!-- @defer (on viewport) {
{{ loadData() }}

<div class="video-container">
  <div *ngFor="let v of data()">
    <img [src]="v.thumbnailUrl" width="150">
    <p>{{ v.title }}</p>
  </div>
</div>

} @placeholder {
<p>Scroll down to load videos…</p>
} @loading {
<p>Loading videos...</p>
} @error {
<p>Failed to load videos.</p>
} -->


<!-- @defer (on timer(2000)) {

  {{ loadData() }}

  <div *ngFor="let v of data()">
    <img [src]="v.thumbnailUrl" width="150">
    <p>{{ v.title }}</p>
  </div>

} @loading {
  <p>Loading in 2 seconds…</p>
} -->
