<!-- <div class="container mt-4"> -->

<!-- MAIN HEADER -->
<div class="d-flex align-items-center justify-content-between mb-3">
  <h2>{{compName}}</h2>

</div>

<!-- SUB HEADER with FILTERS & SEARCH -->
<div class="bg-light border rounded p-3 mb-4">
  <div class="row g-3 align-items-center">

    <!-- FILTER DROPDOWN -->
    <div class="col-md-3">
      <div class="input-group">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="filterDropdown"
          data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-funnel-fill"></i> Filter By {{setMessage}}
        </button>

        <ul class="dropdown-menu" aria-labelledby="filterDropdown">
          <li><a class="dropdown-item" (click)="sendMessage('name','Name')"><i class="bi bi-person"></i> Name</a></li>
          <li><a class="dropdown-item" (click)="sendMessage('','City')"><i class="bi bi-geo-alt"></i> City</a></li>
          <li><a class="dropdown-item" (click)="sendMessage('','Status')"><i class="bi bi-check-circle"></i> Status</a>
          </li>
        </ul>

        <input type="text" class="form-control" placeholder="Filter value..." [(ngModel)]="value"
          (ngModelChange)="updateValue($event)">
      </div>
    </div>

    <!-- SORT DROPDOWN -->
    <div class="col-md-3">
      <div class="input-group">
        <span class="input-group-text"><i class="bi bi-sort-alpha-down"></i></span>
        <select class="form-select" (change)="sort($event)">
          <option selected disabled>Sort By</option>
          @for(option of sortOpt;track option.id){
           <option  [value]="option | json">{{ option.label }}</option>
          }
        </select>
      </div>
    </div>

    <!-- SEARCH BAR -->
    <div class="col-md-3 ">
      <div class="input-group">
        <i class="bi bi-arrow-left-right text-primary fs-4 hover-hand" (click)="changeLayout()"></i>
      </div>
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <button class="btn btn-primary" data-bs-toggle="modal"  (click)="addnewGodownPopup()">
          <i class="bi bi-plus-circle me-1"></i>
          Add New
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="dynamicModal" tabindex="-1">
  <div class="modal-dialog modal-md modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <dynamic-form [form]="addNewGodown" [godown]="editableGodown"></dynamic-form>
      </div>
    </div>
  </div>
</div>
