<!-- Overlay (only visible on mobile when sidebar is open) -->
<div class="sidebar-overlay" [class.show]="isOpen" (click)="toggleSidebar()"></div>

<!-- Sidebar -->
<div class="sidebar" [class.closed]="!isOpen">

  <ul class="nav flex-column text-white">
    @for(m of menu;track m){
    <li class="nav-item">
      <a class="nav-link " routerLinkActive="{{m.exact}}" [routerLinkActiveOptions]="{exact:m.exact}" routerLink="{{m.route}}">
        <i class="{{m.icon}}"></i>
        <span>{{m.label}}</span>
      </a>
    </li>
    }
  </ul>

</div>
